@font-face {
    font-family: Arcade Classic;
    src: url(./assets/arcade_classic_2/ARCADECLASSIC.TTF);
 }
 body{
    font-family: 'Arcade Classic', sans-serif;

 }
.canvas{
    background-color: black;
    /* border: 1px solid black; */
    height: 600px;
    width: 600px;
    position: relative;
    color: white;
    margin: auto;

}

.main{
    background-color: black;
    height: 600px;
    width: 600px;
    position: relative;
    color: white;
    margin: auto;

}

.pontos{
    position: absolute;
    font-size: 24px;
    margin: 0;
}
.vida{
    position: absolute;
    font-size: 24px;
    margin: 0;
    top: 30px;
}
.menu--titulo{
    font-size: 82px;
    color: rgb(255, 242, 0);
    text-shadow: 5px -4px #ff0404;
    /* font-weight: 600; */
}
.margin-titulo{
    margin: 0;
    text-align: center;
    letter-spacing: 5px; 

}
.none{
    display: none;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu--btn{
    text-align: center  ;
}
.btn-iniciar{
    font-size: 28px;
}
.btn-iniciar:hover{
    cursor: pointer;
    color: rgb(255, 242, 0);
    /* border: 1px solid #ff0404; */
    text-shadow: 1px -2px #ff0404;

}
